{{ ansible_managed | comment }}

MINIO_VOLUMES="{{ minio_storage_dir }}"
{% if minio_opts is defined and minio_opts | length > 0 %}
MINIO_OPTS="{{ minio_opts | join(' ') if minio_opts is defined and minio_opts | length > 0 }}"
{% endif %}
MINIO_ROOT_USER="{{ minio_root_user }}"
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% if minio_enable_browser %}
MINIO_BROWSER="on"
{% else %}
MINIO_BROWSER="off"
{% endif %}
{% if minio_server_url is defined and minio_server_url | length > 0 %}
MINIO_SERVER_URL="{{ minio_server_url }}"
{% endif %}
{% if minio_extra_env is defined and minio_extra_env | length > 0 %}
{% for env in minio_extra_env %}
{{ env }}
{% endfor %}
{% endif %}
